{% extends 'base.html.twig' %}

{% block jumbotron %}
<div class="jumbotron main">
    <h1 class="text-white">CalendarApp</h1>
    <p class="text-white">Organize your day, your way!<br/>Everywhere and anytime, you are the master of your time...</p>
    <p>
        {% if is_granted('ROLE_USER') %}
            <a role="button" href="{{ path('calendar_app_dashboard') }}" class="btn btn-lg btn-success">Your calendar »</a>
        {% endif %}
        
        {% if is_granted('ROLE_USER') == false %}
            <a role="button" href="{{ path('fos_user_security_login') }}" class="btn btn-lg btn-danger">Getting started »</a>
        {% endif %}
    </p>
</div>
{% endblock %}

{% block body %}

{% endblock %}